ul.main-menu {
    list-style-type: none;
    margin: 3;
    padding: 5;
}
ul.main-menu>li {
    display: inline;
}

p {
    font-family: "Arial", "allen font", serif;
    font-size: 14px;
    color: red;
}
p2 { font-family: "Arial";
    font-size: 14px;
    color: red; }

background-color: light-blue;

body {
    text-align: center;
}
h1 { font-family: "Allen Font";
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    color: orange;}
h2 { font-family: "Allen Font";
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    color: orange;}
    

