ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}

p {
    font-family: "Arial", "Arial", serif;
    color: orange;
}

background-color: light blue

body {
    text-align: center;
}
h1 { font-family: "Allen Font"
    background-color: black;
    color: red;}

