
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align:center;
} 
li{
    display: inline;
}

<IMG "ALIGN=CENTER">

p {
     font-family: "Arial";
    font-size: 14px;
    color: red;
    text-align: center;
    text-indent: 5px;
    <div style="display:table;">
  <div style="display:table-cell;vertical-align:middle;">
    <div style="margin-left:auto;margin-right:auto;"></div>
  </div>
</div>
}

p2 {
    font-family: "Arial";
    font-size: 14px;
    color: crimson; 
    text-align: center;
    text-indent: 5px;
<div style="display:table;">
  <div style="display:table-cell;vertical-align:middle;">
    <div style="margin-left:auto;margin-right:auto;"></div>
  </div>
</div>
}

body { background-color: orange; }


}
h1 { font-family: "Allen Font";
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    color: orange;
    text-align: center;
    
}

h2 { font-family: "Impact";
    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    color: black;
    text-align: center;
}
footer {
    font-size: 30px;
    font-color: black;
    text-align: center;
}
